@await Html.PartialAsync("_BannerPartial.cshtml")
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h3 class="title">Phim đang chiếu</h3>
                    <p>Những bộ phim hay đang chờ bạn.</p>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        now showing
                    </li>


                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">
                        @foreach (var item in ViewBag.lstPhimDangChieu)
                        {
                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">
                                            <img src="~/template_admin/images/Phim/@item.HinhAnh" alt="movie">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">

                                        <h5 class="title m-0">
                                            <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">@item.TenPhim</a>
                                        </h5>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h4 class="title">Phim sắp chiếu</h4>
                    <p>Phim bom tấn sắp đổ bộ </p>
                </div>
                <ul class="tab-menu">
                    <li class="active">
                        comming soon
                    </li>


                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">
                        @foreach (var item in ViewBag.lstPhimSapChieu)
                        {
                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">
                                            <img src="~/template_admin/images/Phim/@item.HinhAnh" alt="movie">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a asp-controller="Movie" asp-action="Movie_Detail_CommingSoon">@item.TenPhim</a>
                                        </h5>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>