@model IEnumerable<Cinema.Areas.Admin.Models.CumRapModel>

@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Cụm rạp</h2>
                    <br />
                    <a onclick="showModal('@Url.Action("Create","CumRap",null,Context.Request.Scheme)','Thêm cụm rạp')" class="btn btn-success text-white" style="margin-bottom:10px">
                        Thêm cụm rạp
                    </a>
                    <p class="card-description">
                        Danh sách các cụm rạp
                    </p>
                    
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="60%">
                                        Tên cụm
                                    </th>
                                    <th hidden>
                                        Trạng thái
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="60%">
                                            @Html.DisplayFor(modelItem => item.TenCum)
                                        </td>
                                        <td hidden>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td>
                                            <a onclick="showModal('@Url.Action("Edit","CumRap",new {id = item.Id },Context.Request.Scheme)','Sửa cụm rạp')" class="btn btn-primary text-white" style="margin-left:10px">
                                                Sửa
                                            </a>
                                            <a onclick="showModal('@Url.Action("Details","CumRap",new {id = item.Id },Context.Request.Scheme)','Chi tiết cụm rạp')" class="btn btn-secondary text-white" style="margin-left:10px">
                                                Chi tiết
                                            </a>
                                            <a onclick="showModal('@Url.Action("Delete","CumRap",new {id = item.Id },Context.Request.Scheme)','Xoá cụm rạp')" class="btn btn-warning text-white" style="margin-left:10px">
                                               Xoá
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

