@model Cinema.Areas.Admin.Models.GheModel


<h1>Index</h1>
@{
    if (ViewContext.RouteData.Values["id"] != null)
    {
        <p><a asp-action="Index" asp-route-id="">Create New</a></p>
    }
}
<hr />


<hr />
<partial name="Create" />
<hr />
<form class="container" action="Index" method="get">
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" name="TenHang" asp-items="@(new SelectList(ViewBag.ListHangGhe,"Id","Value"))">Chọn Cụm Rạp</select>
        </div>
        <div class="col-md-3">
            <button class="form-control">Chọn</button>
        </div>
    </div>
</form>
<div class="container-fluid mt-3">
    <p>Có @(((ICollection<GheModel>)ViewBag.ListGhe).Count)  Ghế</p>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Ghế Số
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GheModel item in ViewBag.ListGhe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenGhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Index" asp-route-id="@item.Id">Edit</a>
                    <button class="btn btn-warning" name="btn_update_stt" data-id="@item.Id">
                        @{ if (item.TrangThai == true)
                            {
                                @:Khóa
                            }
                            else
                            {
                                @: Kích hoạt
                            }
                        }
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('button[name=btn_update_stt]').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "DELETE",
                url: "../../API/Ghe_API/DeleteGheModel/" + id
            })
                .done(function (msg) {
                    alert("Đã thay đổi trạng thái ghế " + msg.tenGhe);
                    location.reload();
                });
        })
    </script>

    <script>
        $('input[data-sucess="create_ghe"]').click(function (e) {
            e.preventDefault();
            const post_url = $("#Create").attr("action");
            const request_method = $("#Create").attr("method");
            const form_data = $("#Create").serialize();
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                if (response) {
                    modalIntify({
                        title: 'Thông báo',
                        messenge: 'Thêm ghế thành công'
                    });
                    $('#modal-tb').modal('show');
                    $('#modal-tb').click(function (e) {
                        if (e.target.closest('#modal-tb') || e.target.closest('xRemove')) {
                            location.reload();
                        }
                    });

                } else {
                    modalIntify({
                        title: 'Thông báo',
                        messenge: 'Thêm ghế thất bại'
                    });
                    $('#modal-tb').modal('show');
                }
            });
        });
    </script>


    <script>
        $('input[data-sucess="edit_ghe"]').click(function (e) {
            e.preventDefault();
            const post_url = $("#Edit").attr("action");
            const request_method = $("#Edit").attr("method");
            const form_data = $("#Edit").serialize();
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                if (response) {
                    modalIntify({
                        title: 'Thông báo',
                        messenge: 'Sửa ghế thành công'
                    });
                    $('#modal-tb').modal('show');
                    $('#modal-tb').click(function (e) {
                        if (e.target.closest('#modal-tb') || e.target.closest('xRemove')) {
                            location.reload();
                        }
                    });

                } else {
                    modalIntify({
                        title: 'Thông báo',
                        messenge: 'Sửa ghế thất bại'
                    });
                    $('#modal-tb').modal('show');
                }
            });
        });
    </script>
    <script>
        function modalIntify({ title, messenge }) {
            const modalTitle = document.getElementById('modal-tb-title');
            const modalBody = document.getElementById('modal-tb-body');
            modalTitle.textContent = title;
            modalTitle.style.fontSize = '20px';
            modalTitle.style.textAlign = 'center';
            modalTitle.style.fontWeight = '400';
            modalBody.textContent = messenge;
            modalBody.style.textAlign = 'center';
        }
    </script>
}
