@model Cinema.Areas.Admin.Models.PhongModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<h1>Details</h1>

<div>
    <h4>PhongModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rap.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
<<<<<<< HEAD
=======
</div>*@


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2>Phòng</h2>
                <p class="card-description">
                    Thông tin chi tiết phòng
                </p>
                <dl class="row">
                    <dt class="col-sm-2">
                        Tên phòng
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TenPhong)
                    </dd>
                    <dt class="col-sm-2" hidden>
                        @Html.DisplayNameFor(model => model.TrangThai)
                    </dt>
                    <dd class="col-sm-10" hidden>
                        @Html.DisplayFor(model => model.TrangThai)
                    </dd>
                    <dt class="col-sm-2">
                       Rạp
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Rap.TenRap)
                    </dd>
                </dl>
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right:10px">Đóng</button>


                </div>

            </div>
        </div>
    </div>
>>>>>>> a93618663ad04386784ec38de2f51447886a3fba
</div>
  
