@model IEnumerable<Cinema.Areas.Admin.Models.PhongModel>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenPhong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rap)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenPhong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rap.DiaChi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@


<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Phòng</h2>
                    <p class="card-description">
                        Danh sách các phòng
                    </p>
                    <p>
                        <a onclick="showModal('@Url.Action("Create","Phong",null,Context.Request.Scheme)','Thêm phòng mới')" class="btn btn-success text-white" style="margin-bottom:10px">
                            Thêm phòng mới
                        </a>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Tên phòng
                                    </th>

                                    <th>
                                        Rạp
                                    </th>
                                    <th hidden>
                                        Trạng thái
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenPhong)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rap.TenRap)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.TrangThai)
                                    </td>
                                    <td>
                                        <a onclick="showModal('@Url.Action("Edit","Phong",new {id = item.Id },Context.Request.Scheme)','Sửa thông tin phòng')" class="btn btn-primary text-white" style="margin-left:10px">
                                            Sửa
                                        </a>
                                        <a onclick="showModal('@Url.Action("Details","Phong",new {id = item.Id },Context.Request.Scheme)','Thông tin chi tiết phòng')" class="btn btn-secondary text-white" style="margin-left:10px">
                                            Chi tiết
                                        </a>
                                        <a onclick="showModal('@Url.Action("Delete","Phong",new {id = item.Id },Context.Request.Scheme)','Xoá phòng')" class="btn btn-warning text-white" style="margin-left:10px">
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
  

</div>

