@model IEnumerable<Cinema.Areas.Admin.Models.VeModel>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Vé xem phim</h2>
                    <br />
                    <form asp-controller="Ve" asp-action="Index" method="post">
                        <div class="form-group">
                            <label for="">Nhập vé cần tìm: </label>
                            <input class="ten" type="text" name="ve" id="ve" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tìm" class="btn btn-primary" />
                        </div>
                    </form>
                    <p class="card-description">
                        Danh sách vé xem phim
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Mã hóa đơn
                                    </th>
                                    <th>
                                        Mã ghế
                                    </th>
                                    <th>
                                        Mã Suất
                                    </th>
                                    <th hidden>
                                        Trạng thái
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaHoaDon)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaGhe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaSuat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td>

                                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

