@model Cinema.Areas.Admin.Models.HangGheModel
@{
    ViewData["Title"] = "";
}

<partial name="Create">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phong)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (HangGheModel item in ViewBag.ListHangGhe)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phong.TenPhong)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Index" asp-route-id="@item.Id">Chỉnh sửa</a>
                        <button class="btn btn-warning"  data-id="@item.Id" >
                            @{
                                if (item.TrangThai == 1)
                                {
                                    @:Ẩn
                                }
                                else
                                {
                                    @:Hiện
                                }
                            }
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@*<script>
    $('button[name = btn-update-stt]').click(function () {
        var id = $(this).attr('data-id');
        var name = $(this).attr('data-name');
        var stt = ($(this).attr('data-stt')==1)

        $.ajax({
            method: "PUT",
            url: "../api/hangghe_api/PutHangGheModel/"+id,
            contentType: 'application/json: charset=UTF-8',
            data: JSON.stringify({"Id":id,"TenHang":name,"TrangThai":stt})
        }).done(function (msg) {
            alert("Data Saved: " + msg);
        });
    })
            
</script>*@
    }
