@model Cinema.Areas.Admin.Models.SuatChieuModel

@{
    ViewData["Title"] = "Create";
}
<h4>@(ViewContext.RouteData.Values["id"] !=null ?"Chỉnh sửa":"Thêm mới")</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(ViewContext.RouteData.Values["id"] != null ?"Edit":"Create")" asp-route-id="@(ViewContext.RouteData.Values["id"] != null ?ViewContext.RouteData.Values["id"]:"")" id="@(ViewContext.RouteData.Values["id"]!=null
                ?"edit_sc":"create_sc")" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (ViewContext.RouteData.Values["id"] != null)
                {
                    <input type="hidden" asp-for="Id" />
                }
            }
            <div class="form-group">
                <label asp-for="MaPhim" class="control-label"></label>
                <select name="MaPhim" asp-for="MaPhim" class="form-control" asp-items="@(new SelectList(ViewBag.ListPhim,"Id","TenPhim"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaPhong" class="control-label"></label>
                <select name="MaPhong" asp-for="MaPhong" class="form-control" asp-items="@(new SelectList(ViewBag.ListPhong,"Id","TenPhong"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayChieu" class="control-label"></label>
                <input name="NgayChieu" asp-for="NgayChieu" class="form-control" />
                <span asp-validation-for="NgayChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianBatDau" class="control-label"></label>
                <input name="ThoiGianBatDau" asp-for="ThoiGianBatDau" class="form-control" />
                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input  name="TrangThai" class="form-check-input" asp-for="TrangThai" /> Trạng thái
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@(ViewContext.RouteData.Values["id"]!=null ?"Chỉnh sửa":"Thêm mới")" 
                       data-sucess="@(ViewContext.RouteData.Values["id"]!=null ?"edit_sch":"create_sch")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



