@model Cinema.Areas.Admin.Models.SuatChieuModel

@{
    ViewData["Title"] = "Index";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="container-fluid mt-3">
    <partial name="Create" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Phim
            </th>
            <th>
                Tên Phòng
            </th>
            <th>
                Ngày chiếu
            </th>
            <th>
                Thời gian bắt đầu
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SuatChieuModel item in ViewBag.ListSch)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phim.TenPhim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phong.TenPhong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayChieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Sửa</a>
                    <button name="delete" class="btn btn-warning" data-id="@item.Id">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('input[data-sucess="create_sch"]').click(function (e) {

            e.preventDefault();
            const post_url = $("#create_sc").attr("action");
            const request_method = $("#create_sc").attr("method");
            const form_data = $("#create_sc").serialize();
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                if (response) {
                    modalIntify({
                        title: 'THÀNH CÔNG',
                        messenge: 'Thêm suất chiếu thành công'
                    });
                    $('#modal-tb').modal('show');
                    $('#modal-tb').click(function (e) {
                        if (e.target.closest('#modal-tb') || e.target.closest('xRemove')) {
                            location.reload();
                        }
                    });

                } else {
                    modalIntify({
                        title: 'THẤT BẠI',
                        messenge: 'Thêm suất chiếu thất bại'
                    });
                    $('#modal-tb').modal('show');
                }
            });
        });
    </script>
    <script>
        $('input[data-sucess="edit_sch"]').click(function (e) {

            e.preventDefault();
            const post_url = $("#edit_sc").attr("action");
            const request_method = $("#edit_sc").attr("method");
            const form_data = $("#edit_sc").serialize();
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                if (response) {
                    modalIntify({
                        title: 'THÀNH CÔNG',
                        messenge: 'Sửa thông tin suất chiếu thành công'
                    });
                    $('#modal-tb').modal('show');
                    $('#modal-tb').click(function (e) {
                        if (e.target.closest('#modal-tb') || e.target.closest('xRemove')) {
                            location.reload();
                        }
                    });

                } else {
                    modalIntify({
                        title: 'THẤT BẠI',
                        messenge: 'Sửa thông tin suất chiếu thất bại'
                    });
                    $('#modal-tb').modal('show');
                }
            });
        });
    </script>
    <script>
        $('button[name=delete]').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "DELETE",
                url: "../../api/SuatChieu_API/DeleteSuatChieuModel/" + id,
            })
                .done(function (reponse) {
                    if (response = !null) {
                        modalIntify({
                            title: 'Thông báo',
                            messenge: 'Xóa thành công'
                        });
                        $('#modal-tb').modal('show');
                        $('#modal-tb').click(function (e) {
                            if (e.target.closest('#modal-tb') || e.target.closest('xRemove')) {
                                location.reload();
                            }
                        });

                    } else {
                        modalIntify({
                            title: 'Thông báo',
                            messenge: 'Xóa thất bại'
                        });
                        $('#modal-tb').modal('show');
                    }
                });

        })
    </script>
    
}