@model IEnumerable<Cinema.Areas.Admin.Models.PhimModel>
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">

            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="filter-area">
                        <div class="filter-main">
                            <div class="left">

                                <div class="item">
                                    <span>Chế độ xem</span>
                                </div>
                            </div>
                            <ul class="grid-button tab-menu">
                                <li>
                                    <i class="fas fa-th"></i>
                                </li>
                                <li class="active">
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item">
                            <div class="row mb-10 justify-content-center">
                                @foreach (var item in Model)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="movie-grid">
                                            <div class="movie-thumb c-thumb">
                                                <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">
                                                    <img src="~/template_admin/images/Phim/@Html.DisplayFor(modelItem => item.HinhAnh)" alt="movie">
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title m-0">
                                                    <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.TenPhim)</a>
                                                </h5>

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="tab-item active">
                            <div class="movie-area mb-10">
                                @foreach (var item in Model)
                                {
                                    <div class="movie-list">
                                        <div class="movie-thumb c-thumb">
                                            <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">
                                                <img src="~/template_admin/images/Phim/@Html.DisplayFor(modelItem => item.HinhAnh)" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title">
                                                <a asp-controller="Movie" asp-action="Movie_Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.TenPhim)</a>
                                            </h5>
                                            <p class="duration">@Html.DisplayFor(modelItem => item.ThoiLuong) phút</p>
                                            <div class="movie-tags">
                                                <a href="#0">@Html.DisplayFor(modelItem => item.Loai.TenLoai)</a>
                                            </div>
                                            <div class="release">
                                                <span>Ngày khởi chiếu : </span> <a href="#0">@Html.DisplayFor(modelItem => item.NgayPhatHanh)"</a>
                                            </div>

                                            <div class="book-area">
                                                <div class="book-ticket">
                                                    <div class="react-item">
                                                        <a href="#0">
                                                            <div class="thumb">
                                                                <img src="~/template_user/assets/images/icons/heart.png" alt="icons">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="react-item mr-auto">
                                                        <a asp-controller="Ticket" asp-action="BookStep_1">
                                                            <div class="thumb">
                                                                <img src="~/template_user/assets/images/icons/book.png" alt="icons">
                                                            </div>
                                                            <span>Đặt vé</span>
                                                        </a>
                                                    </div>
                                                    <div class="react-item">
                                                        <a href="@Html.DisplayFor(modelItem => item.Trailer)" class="popup-video">
                                                            <div class="thumb">
                                                                <img src="~/template_user/assets/images/icons/play-button.png" alt="icons">
                                                            </div>
                                                            <span >Xem trailer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }





                            </div>
                        </div>
                    </div>
                    <div class="pagination-area text-center">
                        <a href="#0"><i class="fas fa-angle-double-left"></i><span>Trở về</span></a>
                        <a href="#0">1</a>
                        <a href="#0">2</a>
                        <a href="#0" class="active">3</a>
                        <a href="#0">4</a>
                        <a href="#0">5</a>
                        <a href="#0"><span>Tiếp theo</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>