@model Cinema.Areas.Admin.Models.PhimModel
<section class="details-banner bg_img">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-thumb">
                <img src="~/template_admin/images/Phim/@Html.DisplayFor(model => model.HinhAnh)" alt="movie">
                <a href="@Html.DisplayFor(model => model.Trailer)" class="video-popup">
                    <img src="~/template_user/assets/images/movie/video-button.png" alt="movie">
                </a>
            </div>
            <div class="details-banner-content offset-lg-3">
                <h3 class="title">@Html.DisplayFor(model => model.TenPhim)</h3>


                <a href="#0" class="button"> @Html.DisplayFor(model => model.Loai.TenLoai)</a>
                <div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i class="fas fa-calendar-alt"></i><span>@Html.DisplayFor(model => model.NgayPhatHanh)</span>
                        </div>
                        <div class="item">
                            <i class="far fa-clock"></i><span>@Html.DisplayFor(model => model.ThoiLuong) phút</span>
                        </div>
                    </div>
                    <ul class="social-share">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side">
                <div class="">

                    <p>Đạo diễn:  @Html.DisplayFor(model => model.DaoDien) </p>
                    <br />
                    <p>Diễn viên:  @Html.DisplayFor(model => model.DienVien)</p>
                    <br />
                    <p>Quốc gia: @Html.DisplayFor(model => model.QuocGia)</p>
                    <br />

                </div>



            </div>

            <a asp-controller="@(Model.TrangThai==1?"Ticket":"")" asp-action="@(Model.TrangThai==1?"BookStep_1":"")" class="custom-button">

                @{
                    if (Model.TrangThai == 1)
                    {
                        @:Đặt vé
                    }
                    else
                    {
                        @:Sắp công chiếu
                    }


                }
            </a>
        </div>
    </div>
</section>
<!-- ==========Book-Section========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-details-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
            <div class="col-lg-3 col-sm-10 col-md-6 mb-50">
                <div class="widget-1 widget-tags">
                    <ul>
                        <li>
                            <a href="#0">2D</a>
                        </li>
                        <li>
                            <a href="#0">imax 2D</a>
                        </li>
                        <li>
                            <a href="#0">4DX</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 mb-50">
                <div class="movie-details">

                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">
                                Tóm tắt
                            </li>

                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title"> Nội dung phim</h5>
                                    <p>@Html.DisplayFor(model => model.Mota)</p>

                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>