@model Cinema.Areas.Admin.Models.RapPhimModel

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

    <h4>RapPhimModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenRap" class="control-label"></label>
                    <input asp-for="TenRap" class="form-control" />
                    <span asp-validation-for="TenRap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HinhAnh" class="control-label"></label>
                    <input asp-for="HinhAnh" class="form-control" />
                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaCumRap" class="control-label"></label>
                    <select asp-for="MaCumRap" class ="form-control" asp-items="ViewBag.MaCumRap"></select>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


<h3>@(ViewContext.RouteData.Values["id"] != null ?"Chỉnh sửa rạp phim":"Thêm rạp phim mới")</h3>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Cụm rạp</p>
                <form id="@(ViewContext.RouteData.Values["id"]!=null?"edit-rapphim":"create-rapphim")" asp-action="@(ViewContext.RouteData.Values["id"]!=null?"Edit":"Create")"
                      asp-route-id="@(ViewContext.RouteData.Values["id"]!=null ? ViewContext.RouteData.Values["id"]:"")" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @{
                        if (ViewContext.RouteData.Values["id"] != null)
                        {
                            <input type="hidden" asp-for="Id" />
                        }
                    }
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="TenRap" class="control-label">Tên rạp</label>
                                    <input asp-for="TenRap" class="form-control" />
                                    <span asp-validation-for="TenRap" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                                    <input asp-for="DiaChi" class="form-control" />
                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="MaCumRap" class="control-label">Cụm rạp</label>
                                    <select class="form-control" asp-for="MaCumRap"
                                            asp-items="@(new SelectList(ViewBag.lstCumRap_Active,"Id","TenCum"))">
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    @{
                        if (ViewContext.RouteData.Values["id"] != null)
                        {
                                        <div class="col-md-6">
                                            <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                                            <br />
                                            <div class="custom-file">
                                                <input accept="*.png|*.jpg|*.jpep" type="file" name="ful" class="custom-file-input" id="ful" />
                                                <label class="custom-file-label" for="ful">Chọn hình</label>
                                            </div>
                                            <div class="form-group">
                                                <img id="imgPre" src="~/img/pic_cinema/@Model.HinhAnh" class="img-thumbnail" />
                                                <input type="hidden" asp-for="HinhAnh" />
                                            </div>
                                        </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                                <br />
                                <div class="custom-file">
                                    <input accept="*.png|*.jpg|*.jpep" type="file" name="ful" class="custom-file-input" id="ful" />
                                    <label class="custom-file-label" for="ful">Chọn hình</label>
                                </div>
                                <div class="form-group">
                                    <img id="imgPre" src="~/img/noimg.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                        }
                    }
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="@(ViewContext.RouteData.Values["id"]!=null?"Cập nhật":"Thêm mới")"
                                       data-suscess="" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

