@model Cinema.Areas.Admin.Models.RapPhimModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<<<<<<< HEAD
<h1>Details</h1>

<div>
    <h4>RapPhimModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenRap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenRap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CumRap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CumRap.TenCum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
=======


    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Cụm rạp</h2>
                    <p class="card-description">
                        Chi tiết
                    </p>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Tên rạp
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TenRap)
                        </dd>
                        <dt class="col-sm-2">
                            Địa chỉ
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DiaChi)
                        </dd>
                        <dt class="col-sm-2">
                            Hình ảnh
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HinhAnh)
                        </dd>
                        <dt class="col-sm-2">
                            Cụm rạp
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CumRap.TenCum)
                        </dd>
                        <dt class="col-sm-2" hidden>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </dt>
                        <dd class="col-sm-10" hidden>
                            @Html.DisplayFor(model => model.TrangThai)
                        </dd>
                    </dl>
                    <br />
                    <br />

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>

                </div>

            </div>
        </div>
    </div>
  



>>>>>>> a93618663ad04386784ec38de2f51447886a3fba
