@model Cinema.Areas.Admin.Models.RapPhimModel

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenRap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HinhAnh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CumRap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenRap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HinhAnh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CumRap.TenCum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



<div class="content-wrapper">
   @if (TempData["Success"] != null)
{
 <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

    <partial name="Create" />
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    @if (ViewContext.RouteData.Values["id"] != null)
                    {
                        <a class="btn btn-primary" asp-action="Index" asp-route-id="">Tạo rạp phim mới</a>

                    }
                    <br />
                    <br />


                    <p class="card-title">Tìm kiếm</p>
                    <form asp-action="Index" method="get">
                        <div class="col-md-12">
                            <label for="s_name" class="col-form-label">Nhập từ khoá</label>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" name="s_name" class="form-control"
                                       @(Context.Request.Query["s_name"] != "" ? ("value=" + Context.Request.Query["s_name"]) : null)>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-info" type="submit">Tìm</button>
                            </div>

                        </div>
                        <br />
                        <p>Có @(((ICollection<RapPhimModel>)ViewBag.lstRapPhim).Count) rạp phim</p>

                    </form>
                    <br />
                    <br />

                    <p class="card-title">Danh sách cụm rạp</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Tên rạp
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Cụm rạp
                                </th>
                                <th hidden>
                                    Trạng thái
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.lstRapPhim)
                            {
                                <tr>
                                    <td>
                                        @item.TenRap
                                    </td>
                                    <td>
                                        <img src="~/img/pic_cinema/@item.HinhAnh" alt="Alternate Text" />
                                    </td>
                                    <td>
                                        @item.DiaChi
                                    </td>
                                    <td>
                                        @item.CumRap.TenCum
                                    </td>
                                    <td hidden>
                                        @item.TrangThai
                                    </td>
                                    <td>
                                        <a class="btn btn-success" asp-route-id="@item.Id">Sửa</a>

                                        <button name="delete" type="submit" class="btn btn-danger" data-id="@item.Id">Xoá</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>




</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        })
    </script>

    <script>
        $('button[name=delete]').click(function (e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            console.log(id);
            const post_url = "../../../api/RapPhimAPI/" + id;
            const request_method = "DELETE";
            $.ajax({
                url: post_url,
                type: request_method
            }).done(function (response) {
                if (response) {
                    modalIntify({
                        title: 'THÀNH CÔNG',
                        messenge: 'Xóa rạp  ' + response.tenRap + '  thành công!'
                    });
                    $('#modal-tb').modal('show');
                    $('#modal-tb').click(function (e) {
                        if (e.target.closest('#modal-tb') || e.target.closest('xRemove')) {
                            location.reload();
                        }
                    });

                } else {
                    modalIntify({
                        title: 'THẤT BẠI',
                        messenge: 'Xóa rạp  ' + response.tenRap + '  thành công!'
                    });
                    $('#modal-tb').modal('show');
                }
            });
        });
    </script>
  
}




















