@model IEnumerable<Cinema.Areas.Admin.Models.RapPhimModel>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Rạp phim</h2>
                    <br />
                    <a onclick="showModal('@Url.Action("Create","RapPhim",null,Context.Request.Scheme)','Thêm rạp phim')" class="btn btn-success text-white" style="margin-bottom:10px">
                        Thêm rạp phim
                    </a>
                    <p class="card-description">
                        Danh sách các rạp phim
                    </p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Tên rạp
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Hình ảnh
                                    </th>
                                    <th>
                                        Cụm rạp
                                    </th>
                                    <th hidden>
                                        Trạng thái
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenRap)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiaChi)
                                        </td>
                                        <td>
                                            <img src="~/template_admin/images/rapphim/@Html.DisplayFor(modelItem => item.HinhAnh)" alt="Alternate Text" />
                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CumRap.TenCum)
                                        </td>
                                        <td hidden>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td>
                                            <a onclick="showModal('@Url.Action("Edit","RapPhim",new {id = item.Id },Context.Request.Scheme)','Sửa thông tin rạp phim')" class="btn btn-primary text-white" style="margin-left:10px">
                                                Sửa
                                            </a>
                                            <a onclick="showModal('@Url.Action("Details","RapPhim",new {id = item.Id },Context.Request.Scheme)','Thông tin chi tiết rạp phim')" class="btn btn-secondary text-white" style="margin-left:10px">
                                                Chi tiết
                                            </a>
                                            <a onclick="showModal('@Url.Action("Delete","RapPhim",new {id = item.Id },Context.Request.Scheme)','Xoá rạp phim')" class="btn btn-warning text-white" style="margin-left:10px">
                                                Xoá
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>


